[submodule "cmsis"]
	path = cmsis
	url = git@github.com:SushiBits/cmsis.git
[submodule "platform"]
	path = platform
	url = git@github.com:SushiBits/platform-stm32f0.git
[submodule "contrib/libusb_stm32"]
	path = contrib/libusb_stm32
	url = git@github.com:xcvista/libusb_stm32.git
	branch = layout
